* {
    margin: 0px;
}
.heading {
    background-color: black;
    height: 40px;
    color: aliceblue;
}
.heading > ul {
    list-style-type: none;
    padding-top: 10px;
}
.heading > ul > li {
    display: inline;
    margin-left: 20px;
}
.trending {
    color: aliceblue;
}
.login
{
    float: right;
    margin-right: 100px;
    color: aliceblue;
    margin-top: -30px;
    font-weight: bold;
}
.banner
{
    float: right;
    margin-right: 200px;
    float: left;
    margin-left: 190px;
    margin-top: 20px;
}
.list > ul > li 
{
    display: inline;
    margin-left: 15px;
    font-size: small;
}
.FACEBOOK
{
    color: blue;
}
.YOUTUBE
{
    color: red;
}
.INSTAGRAM
{
    color: darkmagenta;
}
.TWITTER
{
    color: cornflowerblue;
}
.SECTION
{
    border: solid 1px lightblue;
    margin-left: 100px;
    width: 100px;
    border-radius: 5px;
    margin-top: 30px;
}
.logo > img
{
    margin-left: 350px;
    margin-top: -100px;
    height: 60px;
    width: 600px;
}
hr
{
    border-width: 2px;
    border-color: black;
    margin-left: 100px;
    margin-right: 100px;
}
.menu > ul > li
{
    margin-left: 50px;
    display: inline;
    margin-left: 23px;
    font-size: medium;
    border: solid 1px lightgrey;
}
.HOME
{
    color: darkblue;
}
.mutthu
{
    margin-left: 175px; 
    margin-right: 50px;  
}
.news1
{
    margin-left: 100px;
    width: 400px;
}
.news1 > h3
{
    color: red;
    font-weight: bold;
}
.news1 > h2
{
    font-size: 16px;
}
.news1 > h4
{
    font-size: 15px;
    font-weight: lighter;
}
.news1 > p
{
    font-size: 15px;
}
.news2
{
    margin-left: 575px;
    width: 400px;
    margin-top: -410px;
}
.news2 > h2
{
    font-size: 12px;
    margin-left: 100px;
    margin-top: -50px;
}
.news2 > h3
{
    font-size: 12px;
    margin-left: 100px;
    margin-top: -50px;
}
.news2 > h4
{
    font-size: 12px;
    margin-left: 100px;
    margin-top: -50px;
}
.news2 > h5
{
    font-size: 12px;
    margin-left: 100px;
    margin-top: -50px;
}
.news2 > h6
{
    font-size: 12px;
    margin-left: 100px;
    margin-top: -50px 
}
.news3
{
    margin-left: 1025px;
    margin-top: -300px;
}
.news4
{
    margin-left: 1015px;
    font-size: 13px;
    color: red;
    font-weight: bold;
}
.news4 > h2
{
    font-size: 12px;
    margin-left: 100px;
    margin-top: -50px;
    color: black;
}
.news4 > h3
{
    font-size: 12px;
    margin-left: 100px;
    margin-top: -50px;
    color: black;
}




    
    
